
<html>
<head>
	<h1>Sudoku</h1>
	<title>Sukoku</title>
	<link href="/stylesheets/application.css" rel="stylesheet" type="text/css">
	<blink>Are we having fun yet?</blink>
	<div id="flash">
	<%= flash[:notice] %>
</div>
</head>
<body>
<div id="sudoku">
	<form action="/" method="post">
	<% 3.times do |row| %>
		<div class="row">
			<% 3.times do |box| %>
				<div class="box">
					<%3.times do |cell_row|%>
						<div class="cell_row">
									<% 3.times do |cell|%>
									<div class="cell">
									<%= partial :cell, :locals=>{:cell_index => row * 27 + box * 3 + cell_row * 9 + cell} %>
									<content></content>
									<aside></aside>
								</div>
							<% end %>
						</div>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
	<button>Check solution!</button>
	</form>
	<form action='/new-game' method="post">
		<button>Make a new game</button>
	</form>
</div>
</body>
</html>
